{
  "importOrder": ["react", "<THIRD_PARTY_MODULES>", "^@repo/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderCaseInsensitive": true,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "tailwindFunctions": ["clsx"],
  "trailingComma": "all"
}
